body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto; /*Margem veritical 0, mas margem horizontal auto*/
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

/* Para o div*/
.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee; /*tamanho da borda, que tipo é (solid) e a cor*/
    margin-top: 16px; /*Espaço fora da caixa > entre a caixa e os outros elementos*/
    padding: 16px 0; /*Espaço dentro da caixa > entre o que esta escrito e o limite da caixa*/
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

/* Só a modificar os a do header. Podiamos fazer assim pq o header é uma secção porque se quisemos só os a e não estivesse numa secção especifica tinhamos que definir uma classe*/
header a {
    color:#888888;
    margin-right: 16px;
    text-decoration: none; /*remove o underline do URL*/
}

/* Definir uma classe que para aplicar na img na pagina about */
.portrait {
    width: 250opx; /*Alterar o tamanho da img*/
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}




